@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.advantages {
  background-color: colors.$white-color;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.advantages__item {
  width: 100%;

  &--dark {
    color: colors.$white-color;
    background-color: colors.$primary-color;
  }

  &--large {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  @media (min-width: variables.$tablet-width) {
    width: calc(100% / 3);

    &--large {
      width: 100%;
      flex-direction: row;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 18px 25px;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 33px;
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 69px 50px;
  }
}

.advantages__wrapper:nth-child(4) {
  padding-bottom: 46px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 69px;
  }
}

.advantages__item--large .advantages__wrapper {
  padding: 39px 18px;

  @media (min-width: variables.$tablet-width) {
    width: calc(100% / 3);
    padding: 54px 27px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 52px 50px 51px;
  }
}

.advantages__item--large:last-child .advantages__wrapper {
  padding: 37px 18px;

  @media (min-width: variables.$tablet-width) {
    width: calc(100% / 3);
    padding: 52px 30px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 52px 73px 51px;
  }
}

.advantages__item--large:not(:last-child) {
  margin-bottom: 23px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__item--dark:first-child {
  padding-top: 33px;
  background-image: url("../img/index/divider_top.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: initial;

  @media (min-width: variables.$tablet-width) {
    padding-top: 0;
    background-image: none;
  }
}

.advantages__title {
  margin: 0 0 16px;

  @include mixins.title-s;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title-tablet-m;
  }

  &--1 {
    &::after {
      content: "— №1 —";

      @include mixins.advantages-title-after;
    }
  }

  &--2 {
    &::after {
      content: "— №2 —";

      @include mixins.advantages-title-after;
    }
  }

  &--3 {
    &::after {
      content: "— №3 —";

      @include mixins.advantages-title-after;
    }
  }

  &--4 {
    &::after {
      content: "— №4 —";

      @include mixins.advantages-title-after;
    }
  }

  &--5 {
    &::after {
      content: "— №5 —";

      @include mixins.advantages-title-after;
    }
  }
}

.advantages__item--dark .advantages__title {
  color: colors.$white-color;

  &--1::after,
  &--2::after,
  &--3::after,
  &--4::after,
  &--5::after {
    color: colors.$white-color;
  }
}

.advantages__text {
  margin: 0;
  text-transform: uppercase;
}

.advantages__list--conditions .advantages__item {
  position: relative;
  text-align: center;
  background-color: colors.$gray-color;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 18px;
    right: 18px;
    height: 1px;
    background-color: #d6d6d6;

    @media (min-width: variables.$tablet-width) {
      height: 0;
    }
  }
}

.advantages__list--conditions .advantages__wrapper {
  padding: 24px 34px;

  @media (min-width: variables.$tablet-width) {
    padding: 41px 33px;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
    padding: 52px 50px;
  }
}

.advantages__list--conditions .advantages__wrapper:last-child {
  padding-bottom: 33px;
  padding-top: 41px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 33px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 41px;
    padding-top: 63px;
  }
}

.advantages__list--conditions .advantages__wrapper:first-child {
  padding-bottom: 41px;
  padding-top: 63px;
}

.advantages__container {
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media (min-width: variables.$tablet-width) {
    display: block;
    width: calc(100% / 1.5);
  }
}

.advantages__container-picture {
  display: block;
  object-fit: cover;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    height: 256px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.advantages__item--house {
  @include mixins.advantages-icon-container;

  &::before {
    @include mixins.advantages-icon;

    background-image: url("../img/index/icon_house.svg");
  }
}

.advantages__item--burger {
  @include mixins.advantages-icon-container;

  &::before {
    @include mixins.advantages-icon;

    background-image: url("../img/index/icon_burger.svg");
  }
}

.advantages__item--gift {
  @include mixins.advantages-icon-container;

  &::before {
    @include mixins.advantages-icon;

    background-image: url("../img/index/icon_gift.svg");
  }
}

.advantages__item--house .advantages__title,
.advantages__item--burger .advantages__title,
.advantages__item--gift .advantages__title {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__list--conditions .advantages__title {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 25px;
  }
}
