@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.advantages {
  background-color: colors.$white-color;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.advantages__item {
  width: 100%;

  &--dark {
    color: colors.$white-color;
    background-color: colors.$primary-color;
  }

  &--large {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}

.advantages__wrapper {
  padding: 0 18px 25px;
  box-sizing: border-box;
}

.advantages__wrapper:nth-child(4) {
  padding-bottom: 46px;
}

.advantages__item--large .advantages__wrapper {
  padding: 37px 18px;
}

.advantages__item--large:not(:last-child) {
  margin-bottom: 23px;
}

.advantages__item--dark:first-child {
  padding-top: 17px;
  background-image: url("../img/index/divider_top.svg");
  background-repeat: no-repeat;
  background-position: 50% -1%;
  background-size: initial;

  @media (min-width: variables.$tablet-width) {
    padding-top: 0;
    background-image: none;
  }
}

.advantages__title {
  margin: 0 0 16px;

  @include mixins.title-s;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title-tablet-m;
  }
}

.advantages__item--dark .advantages__title {
  color: colors.$white-color;
}

.advantages__text {
  margin: 0;
  text-transform: uppercase;
}

.advantages__list--conditions .advantages__item {
  position: relative;
  text-align: center;
  background-color: colors.$gray-color;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 18px;
    right: 18px;
    height: 1px;
    background-color: #d6d6d6;

    @media (min-width: variables.$tablet-width) {
      height: 0;
    }
  }
}

.advantages__list--conditions .advantages__wrapper {
  padding: 24px 18px;
}

.advantages__list--conditions .advantages__wrapper:last-child {
  padding-bottom: 28px;
}

.advantages__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.advantages__container-picture {
  display: block;
  object-fit: cover;
}
