@import "../global/colors";
@import "../global/variables";

.button {
  display: inline-block;
  font-size: 21px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px 16px;
  border: none;
  transition: all 0.2s ease-in-out;

  &--primary {
    color: $white-color;
    background-color: $primary-color;
  }

  &--search-hotels {
    width: 100%;
  }
}

