@use "../global/fonts";
@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.control__label {
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: colors.$black-color;
}
