@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  text-transform: uppercase;
  color: colors.$black-color;
}
