@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.copyright {
  display: block;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$black-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  outline: none;

  &:hover {
    color: colors.$primary-color;
  }
  &:focus {
    color: colors.$primary-color;
  }


  &:active {
    color: #b3b3b3;
  }
}

.copyright__text {
  text-transform: uppercase;
  margin-right: 12px;
}

.copyright__icon path {
  fill: colors.$black-color;
  transition: all 0.2s ease-in-out;
}

.copyright__link:hover .copyright__icon path {
  fill: colors.$primary-color;
}

.copyright__link:focus .copyright__icon path {
  fill: colors.$primary-color;
}

.copyright__link:active .copyright__icon path {
  fill: #b3b3b3;
}
