@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";
@use "../global/visually-hidden";

.form {
  padding-bottom: 24px;
  background-color: colors.$white-color;

  @media (min-width: variables.$tablet-width) {
    padding: 0 60px 64px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 120px 64px;
  }
}

.form__container {
  background-color: colors.$white-color;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__group {
  margin: 0;
  padding: 24px 20px;
  border: none;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    width: 100%;
    margin-bottom: 48px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 56px;
  }
}

.form__group:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
  }
}

.form__group:first-child {
  border-top: 1px solid #e5e5e5;

  @media (min-width: variables.$tablet-width) {
    width: 50%;
    padding: 0 43px 0 0;
    border-top: 0;
    border-right: 1px solid #e5e5e5;
  }

  @media (min-width: variables.$desktop-width) {
    width: 496px;
    padding: 0 63px 0 0;
  }
}

.form__group:nth-child(2) {
  @media (min-width: variables.$tablet-width) {
    width: 50%;
    padding-left: 26px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 464px;
  }
}

.form__group:first-child .form__title {
  @media (min-width: variables.$tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 66px;
  }
}

.form__group:nth-child(2) .form__title {
  @media (min-width: variables.$tablet-width) {
    text-align: left;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 68px;
  }
}

.form__label {
  display: block;
  margin-bottom: 14px;
  text-transform: uppercase;

  &--phone {
    position: relative;

    &::after {
      @include mixins.form-icon;

      background-image: url("../img/form/phone.svg");
    }

    @media (min-width: variables.$tablet-width) {
      margin-left: 18px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-left: 38px;
    }
  }

  &--email {
    position: relative;

    &::after {
      @include mixins.form-icon;

      background-image: url("../img/form/mail.svg");
    }

    @media (min-width: variables.$tablet-width) {
      margin-left: 18px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-left: 38px;
    }
  }
}

.form__input {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: colors.$black-color;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  outline: none;

  &:hover {
    background-color: colors.$form-input-hover;
  }

  &:focus {
    background-color: colors.$form-input-hover;
    outline: none;
  }

  &:active {
    background-color: #f2f2f2;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.form__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;

  @include mixins.title-s;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title-tablet-m;
    margin-bottom: 23px;

    &--bordered::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 19%;
      height: 1px;
      background-color: #dbdbdb;
    }

    &--bordered::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 19%;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &--bordered::before,
    &--bordered::after {
      width: 280px;
    }
  }
}

.form__comment {
  width: 100%;
  height: 150px;
  margin-top: 3px;
  padding: 16px;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease-in-out;
  resize: none;

  @media (min-width: variables.$tablet-width) {
    height: 160px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 96px;
    width: 768px;
  }

  &:hover {
    background-color: colors.$form-input-hover;
  }

  &:focus {
    background-color: colors.$form-input-hover;
  }

  &:active {
    background-color: #f2f2f2;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.form__button-container {
  padding: variables.$hor-padding-s;

  @media (max-width: 767px) {
    margin-top: 26px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;

    * {
      width: 50%;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 96px 7px;
  }
}

.form__caption {
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
  }
}

.form__text {
  margin-left: 16px;
}

.form__input--required:invalid {
  outline: 2px solid #ff0000;
}

.form__input--required:valid {
  outline: none;
}

.form__label--phone .form__input,
.form__label--email .form__input {
  padding: 16px 58px 16px 16px;
}

.form__label--phone,
.form__label--email {
  margin-bottom: 8px;
}

.form__group:nth-child(4) {
  padding-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 65px;
  }
}

.form__group:last-of-type {
  margin-bottom: 44px;
}

.form__group:nth-of-type(3) {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 75px;
  }
}

.form__group:last-of-type .form__title {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 27px;
  }
}
