@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.hero {
  padding: 90px 0 85px;
  text-align: center;
  background-image: url("../img/divider.svg"), url("../img/index/hero_banner_1200x518.webp");
  background-repeat: no-repeat;
  background-position: 50% 100%, 50% 25%;
  background-size: 172%, 282%;
  background-color: rgba(131, 179, 211, 0.5);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/divider.svg"), url("../img/index/hero_banner_1200x518@2x.webp");
  }

  @media (min-width: variables.$tablet-width) {
    padding: 77px 0 90px;
    background-size: 156%, 156%;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 78px 0 90.43px;
    background-size: 100%, 100%;
  }

  &--inner {
    padding: 52px 0 67px;
    background-position: 50% 100%, 50% 100%;

    @media (min-width: variables.$tablet-width) {
      padding: 95px 0 115px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 101px 0 118px;
    }
  }
}

.hero__wrapper {
  @include mixins.padding-0-18;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.hero--inner .hero__wrapper {
  @include mixins.padding-0-20;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.hero__icon {
  display: block;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: 471px;
    height: 80px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 478px;
    height: 81px;
  }

  &--flag {
    margin-bottom: 31.38px;

    @media (min-width: variables.$tablet-width) {
      width: 256.84px;
      height: 84.58px;
      margin-bottom: 51.42px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 255.9px;
      height: 84.58px;
      margin-bottom: 51.32px;
    }
  }

  &--caption {
    margin-top: 34px;
    padding-right: 11px;

    @media (min-width: variables.$tablet-width) {
      width: 295px;
      height: 80px;
      margin-top: 55px;
      padding-right: 20px;
    }

    @media (min-width: variables.$desktop-width) {
      width: 295px;
      height: 80px;
      margin-top: 52.7px;
      padding-left: 4px;
    }
  }
}

.hero--inner .hero__icon {
  @media (min-width: variables.$tablet-width) {
    width: 471px;
    height: 81px;
  }
}
