@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.intro {
  padding-top: 34px;
  padding-bottom: 16px;
  text-align: center;
  background-color: colors.$white-color;

  @media (min-width: variables.$tablet-width) {
    padding: 47.5px 124px 55.5px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 60px 357px 43px;
  }

  &--catalog {
    padding: 37px 0 36px;

    @media (min-width: variables.$tablet-width) {
      padding: 64px 155px 81px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 96px 370px 89px;
    }
  }

  &--form {
    padding-top: 36px;
    padding-bottom: 26px;

    @media (min-width: variables.$tablet-width) {
      padding: 64px 166px 103px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 115px 382px 70px;
    }
  }
}

.intro__title {
  margin: 0 0 35px;

  @include mixins.title-s;

  @media (min-width: variables.$tablet-width) {
    margin: 0 0 30px;

    @include mixins.title-tablet-m;
  }
}

.intro__subtitle {
  margin: 0;
  text-transform: uppercase;
}

.intro__wrapper {
  @include mixins.padding-0-18;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.intro--form .intro__wrapper,
.intro--catalog .intro__wrapper {
  @include mixins.padding-0-20;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.intro--catalog .intro__title,
.intro--form .intro__title {
  margin-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 29px;

    @include mixins.title-tablet-l;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 31px;
  }
}

.intro--form .intro__title {
  margin-bottom: 24px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 27px;
  }
}
