@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.intro {
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
  background-color: colors.$white-color;

  @media (min-width: variables.$tablet-width) {
    padding: 47.5px 124px 55.5px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 58px 357px 44px;
  }

  &--catalog {
    padding: 37px 0 25px;

    @media (min-width: variables.$tablet-width) {
      padding: 66px 155px 67px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 100px 370px 65px;
    }
  }

  &--form {
    padding-top: 36px;
    padding-bottom: 24px;

    @media (min-width: variables.$tablet-width) {
      padding: 64px 166px 103px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 115px 382px 67px;
    }
  }
}

.intro__title {
  margin: 0 0 35px;

  @include mixins.title-s;

  @media (min-width: variables.$tablet-width) {
    @include mixins.title-tablet-m;
  }
}

.intro__subtitle {
  margin: 0;
  text-transform: uppercase;
}

.intro__wrapper {
  @include mixins.padding-0-18;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.intro--form .intro__wrapper,
.intro--catalog .intro__wrapper {
  @include mixins.padding-0-20;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.intro--catalog .intro__title,
.intro--form .intro__title {
  @media (min-width: variables.$tablet-width) {
    @include mixins.title-tablet-l;
  }
}
