@import "../global/colors";
@import "../global/variables";

.main-footer {
  padding-top: 28px;
  padding-bottom: 23px;
  text-align: center;
  background-color: $white-color;
}

.main-footer__tagline {
  margin-bottom: 33px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
