@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.main-header {
  position: relative;
  min-height: 304px;
  background-color: colors.$white-color;

  @media (min-width: variables.$tablet-width) {
    min-height: 56px;
  }
}

.main-header__logo {
  position: absolute;
  top: 248px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;

  &:focus {
    outline: 2px solid #83b3d3;
    outline-offset: 0;
  }

  @media (min-width: variables.$tablet-width) {
    top: 0;
    z-index: 2;
  }
}
