@import "../global/colors";
@import "../global/variables";

.main-header {
  position: relative;
  background-color: $white-color;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
