@import "../global/colors";
@import "../global/variables";

.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-navigation__list {
  display: none;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.main-navigation__list-item {
  a {
    display: block;
    padding: 17px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $white-color;
    background-color: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    border-top: 1px solid rgba(154, 194, 219, 1);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    box-sizing: border-box;
  }

  &--active a {
    background-color: $gray-dark;
    border-top: 1px solid $gray-dark;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.main-navigation__label {
  position: relative;
  display: block;
  height: 4px;
  background-color: $primary-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 4px;
    background-color: $primary-color;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.main-navigation--active {
  .main-navigation__list {
    display: block;
  }

  .main-navigation__label {
    background-color: transparent;

    &::after,
    &::before {
      top: -2px;
      left: -2px;
      width: 26px;
      height: 4px;
      background: $white-color;
      transform-origin: 50% 50%;
    }


    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
