@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.photo {
  background-color: colors.$white-color;

  @media (min-width: 768px) {
    padding: 0 60px 58px;
  }
}

.photo__item {
  padding: 24px 20px 25px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    width: 50%;
    padding: 0;
    border: none;
  }
}

.photo__item:first-child {
  border-top: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    border: none;
  }
}

.photo__list {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.photo__item-media {
  display: block;
  margin-bottom: 15px;
}

.photo__item-title {
  margin: 0 0 8px;
  font-weight: 700;
  color: colors.$black-color;
  text-transform: uppercase;
}

.photo__item-description {
  margin: 0 0 11px;
}

.photo__item-likes {
  font-weight: 700;
}

.photo__item--large {
  @media (min-width: 768px) {
    width: 100%;
  }
}
