@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.social__list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 6px;
  margin: 0 0 40px;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0;

  @media (min-width: 768px) {
    margin: 0 100px 0 0;
  }
}

.social__link {
  display: block;
  height: 48px;
  background-color: colors.$primary-color;
}
