@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.success {
  display: none;

  @include mixins.popup;

  &--active {
    display: flex;
  }
}

.success__wrapper {
  width: 100%;
  margin: auto;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    width: 640px;
  }
}

.success__content {
  padding: 37px 39px 54px 37px;
  background-color: colors.$white-color;

  @media (min-width: variables.$tablet-width) {
    padding: 55px 99px 47px 97px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 54px 99px 45px 97px;
  }
}

.success__button-container {
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: variables.$tablet-width) {
    padding: 44px 91px;
  }
}

.success__title {
  margin: 0 0 24px;

  @include mixins.title-s;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 27px;

    @include mixins.title-tablet-l;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 30px;
  }
}

.success__description {
  margin: 0;
  text-transform: uppercase;
}
