@import "../global/colors";
@import "../global/variables";
@import "../global/mixins";

.video {
  padding-top: 17px;
  text-align: center;
  background-color: $white-color;
}

.video__title {
  margin: 0 0 33px;

  @include title-s;
}

.video__description {
  margin: 0 0 38px;
  text-transform: uppercase;
}
