@use "../global/variables";
@use "../global/mixins";
@use "../global/colors";

.wrapper {
  padding: variables.$hor-padding-s;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 0;
  }
}
