$white-color: #ffffff;
$primary-color: #81b3d2;
$primary-color-hover: #669ec0;
$primary-color-active: #5496bd;
$gray-color: #eeeeee;
$black-color: #000000;
$gray-dark: #cccccc;
$form-input-hover: #e5e5e5;
$form-input-active: #d5d5d5;
