@use "../global/variables";

@mixin title-m {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

@mixin title-s {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

@mixin title-l {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

@mixin title-tablet-m {
  font-size: 21px;
  line-height: 26px;
}

@mixin title-tablet-l {
  font-size: 30px;
  line-height: 30px;
}

@mixin padding-0-18 {
  padding: 0 18px;
}

@mixin padding-0-20 {
  padding: 0 20px;
}

@mixin advantages-title-after {
  display: block;
  margin: 18px auto 19px;
  width: 70px;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

@mixin advantages-icon {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: variables.$tablet-width) {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
  }

  @media (min-width: variables.$desktop-width) {
    top: 69px;
  }
}

@mixin advantages-icon-container {
  position: relative;

  @media (max-width: 767px) {
    padding-left: 65px;
  }

  @media (min-width: variables.$tablet-width) {
    padding-top: 161px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 177px;
  }
}

@mixin form-icon {
  content: "";
  position: absolute;
  right: 0;
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  background-position: center;
}

@mixin popup {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 30%);
}
